{% extends "layout.html" %}

{% block body %}
    {% block content %}

    <div class="o-wrapper">

      <main class="o-layout o-layout--wide">

        <div class="o-layout__item u-8/12@lg">

          <h1 class="u-margin-bottom-small">Leadership and management</h1>

          <p dir="rtl">القيادة والإدارة: هل يمكنك التفريق بين القيادة والإدارة في مكان عملك؟</p>

          <div>
            <video class="video-content" preload="none" width="640" height="360" controls="" id="5984a5a598e8" poster="https://nhsx-prod.s3.amazonaws.com/2015/06/02/12/37/03/738/l2_04_01_poster.png">
              <source src="https://nhsx-prod.s3.amazonaws.com/2015/06/02/12/37/29/279/l2_04_01_sd.mp4">
              <source src="https://nhsx-prod.s3.amazonaws.com/2015/06/02/12/37/03/174/l2_04_01_hd.mp4" data-quality="hd">
              <source src="https://nhsx-prod.s3.amazonaws.com/2015/06/02/12/37/26/575/l2_04_01_sd.webm">
              <source src="https://nhsx-prod.s3.amazonaws.com/2015/06/02/12/37/04/646/l2_04_01_hd.webm" data-quality="hd">
              <source src="https://nhsx-prod.s3.amazonaws.com/2015/06/02/12/37/08/998/l2_04_01_mobile.m4v">
            </video>
          </div>
          <p>&nbsp;</p>
          <h2 class="u-margin-bottom-small" dir="rtl">للتفكير</h2>
          <p dir="rtl">كيف تفسر الفرق بين القيادة والإدارة إلى زميل؟</p>
          <p dir="rtl">هل تقود أم تدير؟</p>
          <h2 class="u-margin-bottom-small">Transcript</h2>

          <dl class="key-value-list" style="display: block;" dir="rtl">
            <dt>00:06</dt>
            <dd>"عمليات الإدارة المعنية بالتخطيط والميزنة والتنظيم والتوظيف والسيطرة وحل المشاكل والقيادة العمليات تنطوي على تحديد الاتجاه، ومواءمة الناس، وتحفيز والملهم - كوتر '</dd>
            <dt>00:25</dt>
            <dd>وهناك نقاش دائم حول التمييز بين القيادة والإدارة. ويتمثل أحد الصور النمطية في أن المديرين يحافظون على النظام ويحافظون على عمل الناس وفقا للسياسات والقواعد والإجراءات المنصوص عليها أعلاه، في حين يتخذ القادة المبادرة ويساعدون المنظمات على التكيف مع المتطلبات والشروط الجديدة، وإذا لزم الأمر فإنهم يواجهون ويزعزعون استقرار العادات والروتينات القائمة عائق.</dd>
            <dt>00:55</dt>
            <dd>وكما يقول البروفيسور كيث غرينت، وهو كاتب يعرف جيدا عن القيادة: "إن الإدارة تهتم بتنفيذ الإجراءات الروتينية والحفاظ على الاستقرار التنظيمي - وهي تهتم أساسا بالسيطرة؛ فالقيادة مهتمة بوضع التوجيه، مع الجدة وترتبط أساسا بالتغيير والحركة والإقناع. طريقة أخرى لوضع هذا هو أن الإدارة هي ما يعادل ديجا فو (ينظر إلى هذا من قبل) في حين أن القيادة هي ما يعادل فو جادي (لم يسبق له مثيل من قبل). وغالبا ما يؤخذ هذا التقسيم على أنه يعني أن مختلف الناس ضرورية لملء الأدوار المختلفة - وبالتالي أي شخص ينزل إلى دور 'مجرد' مدير، لا يمكن اعتبار أنها جلب أي شيء فريد من نوعه للحزب - بعد كل شيء، مهمتهم تقتصر على المهمة الميكانيكية من التعرف على الحالات وتطبيق العمليات الموجودة مسبقا.</dd>
            <dt>01:58</dt>
            <dd>من المهم أن نتذكر أن شخصا ما في منصب إدارة يمكن أن يكون أيضا قائدا، اعتمادا على كيف يذهبون نحو الأشياء، ولكن القادة يمكن أيضا أن يكون في العديد من الأدوار المهنية الأخرى. وفي حين أنه من المثير للاهتمام أن نأخذ في الاعتبار الفرق بين الإدارة والقيادة، في الممارسة أنها غالبا ما تأتي معا أو تحتاج إلى أن تعقد في نوع من التوازن.</dd>
            <dt>02:23</dt>
            <dd>وتوصف القيادة في بعض الأحيان بأنها أكثر من الفن في حين غالبا ما ينظر إلى الإدارة على أنها العلم. ويمكن النظر إلى الإدارة على أنها سلسلة من الخطوات المنطقية التي يمكن اتباعها من أجل تنفيذ كل ما يتطلبه الدور. وينشط القادة في صياغة الغايات والأهداف للناس الذين يعملون من أجلهم. يبحثون عن طريقة أفضل للقيام بالأشياء. في العديد من الحالات، نحن بحاجة إلى الناس الذين يمكن أن تفعل قليلا من كل من - إدارة والحصول على بعض الأشياء للعمل بسلاسة بينما الرائدة والبحث عن طرق جديدة للقيام بأشياء أخرى.</dd>
            <dt>03:01</dt>
            <dd> مرة أخرى، من المهم حقا التأكيد على أن الشخص يمكن أن يكون قائدا دون أن يكون في وضع السلطة. حتى أنك قد تكون تقود الآخرين قبل أن يخطو إلى أول دور قيادي رسمي، حتى من دون تحقيق ذلك!</dd>
          </dl>


        </div>

        <div class="o-layout__item u-4/12@lg">
          <h3 class="u-margin-bottom-small">Resources</h3>
          <p><a href="#">Download the video</a></p>
          <p><a href="#">Download the transcript</a></p>
        </div>
      </main><!-- /.o-layout__item -->

    </div>
    {% endblock %}


{% endblock %}
