{% extends "layout.html" %}

{% block body %}
    {% block content %}

    <div class="o-wrapper">

      <main class="o-layout o-layout--wide">

        <div class="o-layout__item u-8/12@lg">

          <h1 class="u-margin-bottom-small">Leadership and management</h1>

          <p>Can you differentiate leadership from management in your own workplace?</p>

          <div>
            <video class="video-content" preload="none" width="640" height="360" controls="" id="5984a5a598e8" poster="https://nhsx-prod.s3.amazonaws.com/2015/06/02/12/37/03/738/l2_04_01_poster.png">
              <source src="https://nhsx-prod.s3.amazonaws.com/2015/06/02/12/37/29/279/l2_04_01_sd.mp4">
              <source src="https://nhsx-prod.s3.amazonaws.com/2015/06/02/12/37/03/174/l2_04_01_hd.mp4" data-quality="hd">
              <source src="https://nhsx-prod.s3.amazonaws.com/2015/06/02/12/37/26/575/l2_04_01_sd.webm">
              <source src="https://nhsx-prod.s3.amazonaws.com/2015/06/02/12/37/04/646/l2_04_01_hd.webm" data-quality="hd">
              <source src="https://nhsx-prod.s3.amazonaws.com/2015/06/02/12/37/08/998/l2_04_01_mobile.m4v">
            </video>
          </div>
          <p>&nbsp;</p>
          <h2 class="u-margin-bottom-small">For reflection</h2>
          <p>How would you explain the difference between leadership and management to a colleague?</p>
          <p>Do you lead or do you manage?</p>
          <h2 class="u-margin-bottom-small">Transcript</h2>

          <dl class="key-value-list" style="display: block;">
            <dt>00:06</dt>
            <dd>'Management processes concerned with planning, budgeting, organising, staffing, controlling, and problem solving and leadership processes involve establishing direction, aligning people, motivating and inspiring - Kotter'</dd>
            <dt>00:25</dt>
            <dd>There is a perennial debate about the distinction between leadership and management. One stereotype is that managers keep order and keep people working according to policies, rules and procedures set from above, while leaders take the initiative and help organisations adapt to new requirements and conditions, and if necessary they confront and destabilise established habits and routines that are a hindrance.</dd>
            <dt>00:55</dt>
            <dd>As Professor Keith Grint, a well know writer on leadership puts it: ‘Management is concerned with executing routines and maintaining organizational stability – it is essentially concerned with control; leadership is concerned with direction setting, with novelty and is essentially linked to change, movement and persuasion. Another way to put this is that management is the equivalent of déjà vu (seen this before) whereas leadership is the equivalent of vu jàdé (never seen this before). This division is often taken to mean that different people are necessary to fill different roles – hence anyone relegated to role of ‘mere’ manager, cannot be considered as bringing anything unique to the party – after all, their task is limited to the mechanical task of recognizing situations and applying pre-existing processes. </dd>
            <dt>01:58</dt>
            <dd> It’s important to remember that someone in a management position can also be a leader, depending on how they go about things, but leaders can also be in many other professional roles. So whilst it is interesting to bear in mind the difference between management and leadership, in practice they often come together or need to be held in some kind of balance.</dd>
            <dt>02:23</dt>
            <dd>Leadership is sometimes described as being more of an art whereas management is often thought of as a science. Management can be seen as a series of logical steps that can be followed in order to implement whatever the role demands. Leaders are active in formulating goals and objectives for the people who work for them. They look for a better way to do things. In many situations, we need people who can do a bit of both – managing and getting some things to work smoothly whilst leading and looking for new ways of doing other things.</dd>
            <dt>03:01</dt>
            <dd> Again, it is really important to emphasize that a person can be a leader without being in a position of authority. You may even have been leading others prior to stepping into your first formal leadership role, without even realizing it!</dd>
          </dl>


        </div>

        <div class="o-layout__item u-4/12@lg">
          <h3 class="u-margin-bottom-small">Resources</h3>
          <p><a href="#">Download the video</a></p>
          <p><a href="#">Download the transcript</a></p>
        </div>
      </main><!-- /.o-layout__item -->

    </div>
    {% endblock %}


{% endblock %}
