{% extends "layout.html" %}

{% block body %}
    {% block content %}

    <div class="o-wrapper">

      <main class="o-layout o-layout--wide">

        <div class="o-layout__item u-8/12@lg">

          <h1 class="u-margin-bottom-small">Leadership v. management</h1>

          <p>Can you differentiate leadership from management?</p>

          <div>
            <video class="video-content" preload="none" width="640" height="360" controls="" id="5984a5a598e8" poster="https://nhsx-prod.s3.amazonaws.com/2015/06/02/12/37/03/738/l2_04_01_poster.png">
              <source src="https://nhsx-prod.s3.amazonaws.com/2015/06/02/12/37/29/279/l2_04_01_sd.mp4">
              <source src="https://nhsx-prod.s3.amazonaws.com/2015/06/02/12/37/03/174/l2_04_01_hd.mp4" data-quality="hd">
              <source src="https://nhsx-prod.s3.amazonaws.com/2015/06/02/12/37/26/575/l2_04_01_sd.webm">
              <source src="https://nhsx-prod.s3.amazonaws.com/2015/06/02/12/37/04/646/l2_04_01_hd.webm" data-quality="hd">
              <source src="https://nhsx-prod.s3.amazonaws.com/2015/06/02/12/37/08/998/l2_04_01_mobile.m4v">
            </video>
          </div>

          <p>&nbsp;</p>
          <h2 class="u-margin-bottom-small">Transcript</h2>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non</p>


        </div>

        <div class="o-layout__item u-4/12@lg">
          <h3 class="u-margin-bottom-small">Secondary content</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non</p>
        </div>
      </main><!-- /.o-layout__item -->

    </div>
    {% endblock %}


{% endblock %}
